html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: #fdfbf0;
    font-family: 'Montserrat', sans-serif;
}
*{
    box-sizing: border-box;
}
header {
    padding-top: 60px;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
.container .logo img {
    margin: 0 auto;
    display: block;
}
.wrapper {
    display: flex;
    align-items: center;
    padding-top: 112px
}
.main {
    align-items: center;
    width: 1110px;
    display: block;
}
h1 {
    width: 465px;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.36em;   
    margin-bottom: 0; 
}
.text {
    width: 423px;
    font-weight: 500;
    line-height: 1.37em;
    padding: 30px 0;
    margin: 0;
}
.button {
    background: #FF6861;
    border-radius: 100px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    padding: 22px 0;
    gap: 10px;
    line-height: 1.19em;
    display: block;
    width: 216px;
    text-align: center;
    transition: all 0.5s ease;
}
.button:hover {
    background: red;
}
.cow {
    width: 465px;
    border-radius: 70px;
}
.maincow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 176px;
    width: 1110px;
}
h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.4em;
    text-align: center;
    margin: 0 auto;
}
.hero-text h2 {
    text-align: left;
}
.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 120px;
}
.features-container {
    display: flex;
    flex-direction: column;
    gap: 41px;
    width: 720px;
    padding-top: 70px;
    margin: 0 auto;
}
.feature-wrap {
    display: block;
    padding-left: 34px;
}
.feature-title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 11px;
    margin-top: 0;
}
.feature-text {
    margin: 0 auto;
}
.img-feature {
    width: 73px;
    display: flex;
    align-items: center;
}
.feature {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 720px;
}
.action-wrap {
    background: linear-gradient(102deg, #FFF6DF 17.38%, #FFDFDE 81.25%);
    border-radius: 60px;
    display: flex;
    align-items: center;
    padding: 76px 125px 75px 122px;
    justify-content: center;
    margin-top: 120px;
}
.img-saintcow {
    width: 287px;
}
.hero-text {
    width: 475px;
    margin-right: 101px;
}
.action-wrap .intro {
    margin: 24px 0;
    width: 371px;
}
.intro {
    font-size: 18px;
}
.credits {
    font-size: 15px;
    text-align: center;
}
.footer {
    padding: 120px 0;
}
/* Responsive */

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
    .maincow {
        width: 100%;
        gap: 30px;
    }

}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .container .logo img{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 10px;
    }
    .maincow {
        flex-direction: column-reverse;
        gap: 51px;
    }
    .cow {
        justify-content: flex-end;
    }
    .wrapper {
        text-align: center;
        gap: 51px;
        width: 100%;
        padding-top: 79px;
    }
    .main {
        width: 720px;
    }
    h1 {
        text-align: center;
        width: auto;
        margin: 0 auto;
    }
    .text {
        margin: 0 auto;
        width: auto;
    }
    .button {
        margin: 0 auto;
    }
    .action-wrap {
        flex-direction: column-reverse;
        text-align: center;
        width: auto;
        gap: 101px;
        padding: 101px 37px;

    }
    h2 {
        text-align: center;
        width: auto;
        margin: 0 auto;
}
    .hero-text{
        margin-right: 0;
        gap: 24px;
    }
    .action-wrap .intro {
        width: auto;
    }
    .hero-text h2 {
        text-align: center;
    }
/* Small: 576px - 767px */
@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .feature {
        flex-direction: column;
        text-align: center;
    }
   .main {
    width: auto;
   }
   .feature {
    width: auto;
    gap: 34px;
   }
    .features-container {
        width: auto;
        padding-top: 50px;
        gap: 41px;
    }
    .features {
        padding-top: 90px;
    }
    .action-wrap {
        margin-top: 90px;
        padding: 70px 0;
        gap: 50px;
    }
    .footer {
        padding: 90px 0;
    }
}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
    .container {
        padding: 0 15px;
        width: 100%;
    }
    .cow {
        width: 100%;
    }
    .hero-text {
        width: auto;
    }
    .hero-text .intro {
        width: auto;
    }
    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 35px;
    }
    .action-wrap {
        padding: 70px 20px;
        margin: 0;
    }
    .action-wrap .hero-text {
        width: 100%;
    }
    section {
        padding-top: 90px;
    }
    .footer {
        padding: 90px 0;
    }
    .wrapper {
        margin-top: 50px;
        padding: 0;
    }
    .feature-wrap{
        padding: 0;
    }
    .feature-title {
        font-size: 27px;
    }
    .img-saintcow {
        width: 201px;
    }
}