
body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: #fdfbf0;
    font-family: 'Montserrat', sans-serif;
}
*{
    box-sizing: border-box;
}
header {
    padding-top: 60px;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
.logo {
    margin: 0 auto;
    display: block;
}
.wrapper{
    display: flex;
    align-items: center;
    padding-top: 112px
}
.main{
    align-items: center;
    width: 1110px;
    left: 245px;
    top: 176px;
    display: block;
}
h1{
    width: 465px;
    height: 204px;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.36em;   
    margin-bottom: 0; 
}
.text{
    width: 423px;
    font-weight: 500;
    line-height: 1.37em;
    padding: 30px 0;
    margin: 0;
}
.button{
    background: #FF6861;
    border-radius: 100px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    padding: 22px 0;
    gap: 10px;
    line-height: 1.19em;
    display: block;
    width: 216px;
    text-align: center;
}
.cow{
    width: 465px;
    height: 465px;
    size: 465px 465px;
    border-radius: 70px;
}
.maincow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 176px;
    width: 1110px;
}
h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.4em;
    text-align: center;
    margin: 0 auto;
}
.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 120px;
    
}
.features-container{
    display: flex;
    flex-direction: column;
    gap: 41px;
    width: 720px;
    padding-top: 70px;
    margin: 0 auto;
    
}
.feature-wrap {
    display: block;
    padding-left: 34px;

}
.feature-title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 11px;
    margin-top: 0;
}
.feature-text {
    margin: 0 auto;
}
.img-feature {
    width: 73px;
    height: 73px;
    display: flex;
    align-items: center;
}
.feature {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 720px;
    height: 78px;
}
.action-wrap {
    background: linear-gradient(102deg, #FFF6DF 17.38%, #FFDFDE 81.25%);
    border-radius: 60px;
    display: flex;
    align-items: center;
    padding: 76px 125px 75px 122px;
    justify-content: center;
    margin-top: 120px;
    
}
.img-saintcow {
    width: 287px;
    height: 287px;
}
.hero-text {
    width: 475px;
    margin-right: 101px;
}
.hero-text h2 {
    text-align: left;
    margin: 0;
}
.action-wrap .intro {
    margin: 24px 0;
    width: 371px;
}
.intro {
    font-size: 18px;
}
.credits {
    font-size: 15px;
    text-align: center;
}
.footer {
    padding: 120px 0;
}